@font-face {
  font-family: "Sono";
  src: url("~/assets/fonts/Sono-VariableFont_MONO\,wght.ttf");
}
@font-face {
  font-family: "Kaushan";
  src: url("~/assets/fonts/KaushanScript-Regular.ttf");
}

:root {
  --font-main: "Sono";
  --font-second: "Kaushan";

  --background-card: rgba(255, 255, 255, 0.6);
  --bleu: #0083cc;
  --violet: #7000c9;
  --jaune: #f4dc00;
  --bordeaux: #98296b;

  --shadow-card: 0px 0px 35px rgba(0, 0, 0, 0.1);
  --shadow-bubble: 0px 4px 35px rgba(0, 0, 0, 0.25);
}
